.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

html { 
    background-image: url(flag.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
}
p {
    margin: auto;
    position: fixed sticky;
    display: inline;
    font-size: 80px;
    color: white;
   
}
